* {
    box-sizing: border-box;
    max-width: 100%;
}
body {
    /* background-color: #0c1821; */
    background-color: #63474d;
}
header {
    text-align: center;
}
#landingPage {
    background-image: url("images/indexLibrary.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    height: 100%;
    width: 100%;
}
h1 {
    color: #edeba0;
    font-family: 'Rye', serif;
    font-size: 4em;
    text-shadow: 0 0 0.2em #0c1821, 0 0 0.2em #0c1821;
    /* text-shadow: black 0.1em 0.1em 0.2em; */
}

.pageBackground {
    background-image: url("images/indexLibrary.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.btn {
    font-family: 'David Libre', serif;
    background-color: #63474d;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}
form {
    background-color: #edeba0;
}
.cursiveFont{
    font-family: 'Lemonada', cursive;
}

ul {
    list-style-type: none;
}
